@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --primary: #fbe0dc;
  --secondary: #f7c531;
  --heading: #272042;
  --text: #8b8ba5;
  --purple: #d8cbf6;
  --yellow: #fdfae5;
  --white: #fff;
  --black: #000;
}
* {
  font-family: Quicksand;
}
.App {
  margin: auto;
  width: 100%;
  max-width: 1240px;
  padding: 0px 20px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--text);
}
.secondaryPara {
  font-size: 20px;
  line-height: 34px;
}
h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  color: var(--heading);
}
.btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--heading);
  background-color: var(--primary);
  padding: 14px 28px;
  border-radius: 30px 30px 15px 15px;
  border: none;
}
.Secondarybtn {
  background-color: var(--secondary);
}
.Secondarybtn:hover {
  background-color: var(--primary) !important;
}
.btn:hover,
.btn.active {
  background-color: var(--secondary);
}

.nav-link.active {
  color: var(--heading);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
a.navbar-brand {
  border: 4px solid #ffffff;
  border-radius: 30px 50px 190px;
  padding: 0px 20px 5px 0px;
  border-bottom: 5px solid #f7c531;
  /* border-left: 5px solid #f7c531; */
}
a.nav-link.active:after,
.underLineText:after,
a.nav-link:hover:after {
  background: var(--primary);
  content: "";
  height: 4px;
  position: relative;
  border-radius: 100px;
  display: block;
  top: -5px;
  z-index: -1;
}

a.nav-link:after {
  background: var(--white);
  content: "";
  height: 4px;
  position: relative;
  border-radius: 100px;
  display: block;
  top: -5px;
  z-index: -1;
}

h1 .underLineText:after {
  top: -13px !important;
}

span.underLineText {
  width: auto;
  display: inline-flex;
  flex-direction: column;
}

.navbar-brand {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: var(--heading);
}

footer h6 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
}

a.text-reset {
  text-decoration: none;
  color: var(--text);
}
a.text-reset:hover {
  text-decoration: underline;
  color: var(--heading);
}

/* Recipe CSS  */
.recipeCard h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}

.recipeCard li.list-group-item {
  padding-left: 0;
}

.myPopularImage {
  background: var(--yellow);
  padding: 10px;
  border-radius: 50px 50px 80px 80px;
  /* border: 2px solid #D8CBF6; */
}
.imageBg {
  background: var(--purple);
  border-radius: 15px 15px 60px 60px;
}
.recipeCard {
  gap: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.submitBTN {
  border-radius: 0px 20px 20px 0px;
}
input:focus-visible,
input:focus {
  outline: 0px solid var(--white);
  border-radius: 0px;
  box-shadow: none !important;
  border-color: var(--heading);
}

input {
  border-radius: 5px 0px 0px 5px !important;
}

.splide__pagination__page.is-active {
  background: var(--heading) !important;
}
/* CSS */

/* Modal CSS */
/* Hide scrollbar for IE, Edge and Firefox */
.scrollerHide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollerHide::-webkit-scrollbar {
  display: none;
}
.ModalRecipe .ImageDiv img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.list-group-item:first-child {
  border-radius: 30px 30px 15px 15px;
}

.no-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.no-recipe p {
  font-weight: 800;
  font-size: 22px;
}

/* Mobile CSS */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .HeroSection.pt-5 .row,
  .CTASection .row {
    gap: 40px;
  }
  .modal-dialog.modal-lg {
    min-width: 100%;
    padding: 0px 40px;
  }
  .hideinMobile {
    display: none;
  }
  .recipeCard {
    padding: 20px 10px;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  h1 .underLineText:after {
    top: -5px !important;
  }
}
